---
layout: default
title: Mining public data for journalism and advocacy
description: >
  Home page of Friedrich Lindenberg, a civic technologist working on effective
  tools and methods for data-driven journalism and advocacy. Follow the blog,
  or explore a wide variety of tools and platforms.
home: true
---

<div class="row">
  <div class="col-md-8 col-sm-12">
    {% for post in site.categories.blog limit:8 %}
      {% include postlink.html post=post %}
    {% endfor %}
    <i class="fa fa-rss-square"></i> <a href="/atom.xml">Subscribe now</a> &middot;
    <a href="/blog">See earlier posts &raquo;</a>
  </div>

  <div class="col-md-4 hidden-sm hidden-xs">
    <!--
    I'm a software developer and data wrangler working on
    methods to support effective journalism, activism and civic participation.
    -->
  </div>
</div>
