<p>
    I'm a software developer and data wrangler working on
    methods to support effective journalism, activism and civic participation.  
</p>
<p>
    In 2013, I was a <a href="http://mozillaopennews.org">Knight-Mozilla Fellow</a>,
    working in the newsroom of <a href="http://spiegel.de">Spiegel Online</a>.
    Previously, I contributed to many projects of the <a href="http://okfn.org">Open
    Knowledge Foundation</a> and <a href="http://liqd.net">Liquid Democracy</a>.
</p>

<h3>on the web</h3>
<ul>
  <li><a href="mailto:friedrich@pudo.org"><i class="fa fa-envelope-square"></i> friedrich@pudo.org</a> (<a href="/key.html">gnupg</a>)</li>
    <li><a href="https://twitter.com/pudo"><i class="fa fa-twitter-square"></i> twitter.com/pudo</a></li>
    <li><a href="https://github.com/pudo"><i class="fa fa-github-square"></i> github.com/pudo</a></li>
    <li><a href="https://facebook.com/flindenberg"><i class="fa fa-facebook-square"></i> facebook.com/flindenberg</a></li>
    <li><a href="skype:friedrich.cleversoft"><i class="fa fa-skype"></i> friedrich.cleversoft</a></li>
</ul>
