<h2><a name="bio"></a>About myself</h2>

{% if include.short != 'true' %}
  <p>
      I'm a software developer and data wrangler working on
      methods to support effective journalism, activism and civic participation.
  </p>
{% endif %}
<p>
  As a Knight International Journalism Fellow, I work with
  <a href="http://codeforafrica.org">Code for Africa</a> and the
  <a href="http://investigativecenters.org">African Network of Centers for Investigative Reporting</a>
  to build data-driven tools for journalism.
</p>
<p>
  In 2013, I was a <a href="http://mozillaopennews.org">Knight-Mozilla Fellow</a>,
  working in the newsroom of <a href="http://spiegel.de">Spiegel Online</a>.
  Previously, I contributed to many projects of the <a href="http://okfn.org">Open
  Knowledge Foundation</a> and <a href="http://liqd.net">Liquid Democracy</a>.
</p>

