<p>
    I'm a software developer and data wrangler working on
    methods to support effective journalism, activism and civic participation.  
</p>
<p>
    Currently, I'm a <a href="http://mozillaopennews.org">Knight-Mozilla
    Fellow</a>, working as a technologist in the newsroom of
    <a href="http://spiegel.de">Spiegel Online</a>. Previously, I contributed
    to many projects of the <a href="http://okfn.org">Open Knowledge Foundation</a>
    and <a href="http://liqd.net">Liquid Democracy</a>.
</p>

<h3>on the web</h3>
<ul>
  <li><a href="mailto:friedrich@pudo.org"><i class="icon-envelope-alt"></i> friedrich@pudo.org</a> (<a href="/key.html">gnupg</a>)</li>
    <li><a href="https://twitter.com/pudo"><i class="icon-twitter"></i> twitter.com/pudo</a></li>
    <li><a href="https://github.com/pudo"><i class="icon-github"></i> github.com/pudo</a></li>
    <li><a href="https://facebook.com/flindenberg"><i class="icon-facebook-sign"></i> facebook.com/flindenberg</a></li>
    <li><a href="skype:friedrich.cleversoft"><i class="icon-skype"></i> friedrich.cleversoft</a></li>
</ul>
