<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} ):( pudo.org</title>
    <meta name="author" content="Friedrich Lindenberg" />
    <meta name="keywords" content="Friedrich Lindenberg, pudo, open data, data journalism, grano, openspending, adhocracy" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="/assets/style/style.css" rel='stylesheet' type='text/css'>

    <!-- Beautification -->
    <link rel="alternate" type="application/atom+xml" title="Follow Friedrich's blog posts." href="http://pudo.org/atom.xml" />
    <link rel="shortcut icon" href="http://assets.pudo.org/img/favicon.ico">
  </head>
  <body>
    {% include nav.html %}

    <div id="airlock" class="container-fluid">
      {{ content }}
    </div>

    <footer class="container-fluid hidden-print">
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li><a href="mailto:friedrich@pudo.org"><i class="fa fa-envelope-square"></i> friedrich@pudo.org</a> (<a href="/key.html">gnupg</a>)</li>
            <li><a href="https://twitter.com/pudo"><i class="fa fa-twitter-square"></i> twitter.com/pudo</a></li>
            <li><a href="https://github.com/pudo"><i class="fa fa-github-square"></i> github.com/pudo</a></li>
            <li><a href="https://facebook.com/flindenberg"><i class="fa fa-facebook-square"></i> facebook.com/flindenberg</a></li>
            <li><a href="skype:friedrich.cleversoft"><i class="fa fa-skype"></i> friedrich.cleversoft</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="pull-right">
            <span class="kallisti">(K)</span> 2005-2014: All rites reversed.
          </div>
        </div>
      </div>
    </footer>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% include ga.html %}
  </body>
</html>

