<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} - pudo.org</title>
    <meta name="author" content="Friedrich Lindenberg" />

    <!--link href="http://assets.pudo.org/libs/bootstrap-2.2.2/css/bootstrap.css" rel="stylesheet"-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel='stylesheet' type='text/css'>

    <!-- Beautification -->
    <link rel="alternate" type="application/atom+xml" title="Follow Friedrich's blog posts." href="http://pudo.org/atom.xml" />
    <link rel="shortcut icon" href="http://assets.pudo.org/img/favicon.ico">
  </head>
  <body class="body-data">
    <header class="container">
      <h1 class="hidden-sm"><a href="/">Friedrich Lindenberg</a></h1>
      <h1 class="visible-sm"><a href="/">pudo.org</a></h1>
    </header>

    <div id="airlock" class="container show-grid">
      {{ content }}
    </div>

    <footer class="container hidden-print">
      <span class="kallisti">(K)</span> 2005-2013: All rites reversed. 
    </footer>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34039573-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  </body>
</html>

