---
layout: default
---

<div class="intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 logo-section">
        {% include logo.html %}
      </div>
      <div class="col-md-7 text-section">
        I'm a software developer and data wrangler working on
        methods to support effective journalism, activism and civic participation.
      </div>
    </div>
  </div>
</div>


<div id="airlock" class="container-fluid">
  <div class="row">
      <div class="col-md-7" id="page">
          {{content}}
      </div>
      <div class="col-md-5 hidden-print" id="sidebar">
          {% include bio.html %}
      </div>
  </div>
</div>

