---
layout: default
---

<div class="row">
    <div class="span3" id="sidebar">
        <h3 class="first">pudo.org</h3>
        <ul>
            <li><i class="icon-angle-right"></i> <a href="/blog">blog archive</a></li>
            <li><i class="icon-angle-right"></i> <a href="/#code">software projects</a></li>
            <li><i class="icon-angle-right"></i>  <a href="/#community">community projects</a></li>
            <li><i class="icon-angle-right"></i>  <a href="/#materials">training and materials</a></li>
        </ul>

        <h3>about me</h3>
        {% include bio.html %}
    </div>
    <div class="span9" id="page">
        <h2>
            {{ page.title }}
        </h2>

        {{content}}
    </div>
</div>
