---
layout: default
---

<div class="row">
  <div class="span8">
    {{content}}
  </div>

  <div class="span4">
    {% include sidebar.html %}

<a class="twitter-timeline" href="https://twitter.com/pudo" data-widget-id="327009314504052736">Tweets by @pudo</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    
  </div>
</div>



